<a href="https://colab.research.google.com/github/BradenAnderson/Twitter-Sentiment-Analysis/blob/main/04_Modeling_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook displays the gridsearch results for all of the models created in the 04 series.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score, GridSearchCV, RandomizedSearchCV, train_test_split, cross_validate, cross_val_predict
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer, CountVectorizer
from sklearn.compose import ColumnTransformer

from sklearn.metrics import precision_score, recall_score, accuracy_score, SCORERS, multilabel_confusion_matrix, make_scorer, roc_curve, roc_auc_score, f1_score
pd.set_option('display.max_rows', 1000)

In [ ]:
# This is a helper function that stream lines to process of converting a gridsearch output to a pandas dataframe with the 
# columns formatted the way I like them. 
def gs_to_clean_df(search_results, keep_split = False, keep_std = False, keep_time = False, keep_params = False, sort_by=None):

  gs_results_df = pd.DataFrame(search_results)

  gs_result_columns = list(gs_results_df.columns)
  throw_away_columns = []
  columns_to_keep = []
  columns_renamed = []
  valid_metrics = []

  for column_name in gs_result_columns: 

    if column_name.startswith('split'):
      if keep_split == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif 'time' in column_name: 
      if keep_time == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif column_name.startswith('std'):
      if keep_std == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif column_name == 'params':
      if keep_params == True:
        columns_to_keep.append(column_name)
      else:
        throw_away_columns.append(column_name)
    else: 
      columns_to_keep.append(column_name)

  gs_results_df.drop(labels=throw_away_columns, axis='columns', inplace=True)
  renaming_dict = {}

  for column_name in columns_to_keep: 
    name = ""

    if column_name.startswith('param') and column_name != 'params': 
      name_components = column_name.split('__')

      name_components = name_components[1:]

      for component in name_components:
        name = name + '_' + component 
      name = name.lstrip('_')

    elif '_test' in column_name:
      name = column_name.replace('_test', '')

    renaming_dict[column_name] = name

    if name.startswith('rank') or name.startswith('mean'):
      valid_metrics.append(name)

  gs_results_df.rename(columns=renaming_dict, inplace=True)

  if sort_by in valid_metrics:
    gs_results_df.sort_values(by=sort_by, inplace=True, ignore_index=True)

  return gs_results_df

# Multinomial Naive Bayes 

### TFIDF Vectorizer

### The only input features are the tokenized tweet text (no vader scores).

### No handling of imbalanced classes.

### Note: This is will be used as the 'baseline' model.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_baseline_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

naive_bayes_baseline_df.head()

  fit_prior Tfidf_Vect_analyzer  ... mean_precision rank_precision
0     False                word  ...       0.682275            171
1     False                word  ...       0.682275            171
2     False                word  ...       0.682275            171
3     False                word  ...       0.682275            171
4     False                word  ...       0.682275            171

[5 rows x 20 columns]

# Multinomial Naive Bayes 

### TFIDF Vectorizer

### The only input features are the tokenized tweet text (no vader scores).

### Class imbalance addressed by random oversampling the minority class.

### Note: Same as the baseline with the addition of random oversampling.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_ros_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_ros_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_ros_df.head()

  fit_prior sampling_strategy  ... mean_precision rank_precision
0      True               0.4  ...       0.768601             17
1      True               0.4  ...       0.762604             21
2      True               0.4  ...       0.763251             20
3      True               0.4  ...       0.766245             18
4      True               0.4  ...       0.761598             22

[5 rows x 21 columns]

# Multinomial Naive Bayes 

### TFIDF Vectorizer

### Inputs include vader positive, negative and compound sentment scores.

### No handling of imbalanced classes.

### Note: Same as above with the addition of vader scores features.

### Note: The compound sentiment score was shifted to fall between 0 - 2 (normally the compound score is between -1 and +1). This was done because Naive Bayes cannot take negative valued inputs.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_ros_v_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_ros_v_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_ros_v_df.head()

  fit_prior sampling_strategy  ... mean_precision rank_precision
0      True               0.6  ...       0.746846             32
1      True               0.6  ...       0.746339             33
2      True               0.6  ...       0.744285             36
3      True               0.6  ...       0.747924             31
4      True               0.6  ...       0.745866             34

[5 rows x 21 columns]

# Multinomial Niave Bayes

(tuned version of two above)

In [ ]:
# Result very marginally improved.

full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_ros_gs2.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_ros2_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_ros2_df.head()

  alpha fit_prior  ... mean_precision rank_precision
0   0.5      True  ...       0.804357            135
1   0.5      True  ...       0.807659            128
2   0.5      True  ...       0.811518            124
3     1      True  ...       0.767178            198
4   0.5      True  ...       0.805972            130

[5 rows x 22 columns]

# Multinomial Naive Bayes

Now using synthetic minority over sampling.

In [ ]:
# Utilizing SMOTE oversampling
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_smote_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_smote_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_smote_df.head()

  alpha fit_prior k_neighbors  ... rank_accuracy mean_precision rank_precision
0   0.5      True           5  ...            17       0.804999             40
1   0.5      True           1  ...            14       0.807119             37
2   0.5      True           3  ...            19       0.807016             38
3   0.5      True           1  ...            20       0.806828             39
4   0.5      True           3  ...            30       0.797918             44

[5 rows x 23 columns]

# Multinomial Naive Bayes

Using SMOTE again (tuned version of above). 

In the previous search the best model used k_neighbors=5 for the over sampling technique, which was the highest value we tried. 

In these search we increase k_neighbors to include 7 as an option to investigate if the value should be increased.

In [ ]:
# Utilizing SMOTE oversampling
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_smote_gs2.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_smote_df2 = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_smote_df2.head()

  alpha fit_prior k_neighbors  ... rank_accuracy mean_precision rank_precision
0   0.5      True           7  ...            10       0.807671             18
1   0.4      True           7  ...            20       0.787194             22
2   0.4      True           1  ...            21       0.789040             21
3   0.5      True           1  ...            13       0.808142             17
4   0.6      True           5  ...             9       0.820351             14

[5 rows x 23 columns]

# Multinomial Naive Bayes

Using SMOTE again (tuned version of above). 

Added k_neighbors = 9 to the search space.

In [ ]:
# 
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/naive_bayes_smote_gs3.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

naive_bayes_smote_df3 = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
naive_bayes_smote_df3.head()

  alpha fit_prior k_neighbors  ... rank_accuracy mean_precision rank_precision
0   0.3      True           7  ...             8       0.765867              8
1   0.4      True           9  ...             5       0.784150              6
2   0.3      True           9  ...             7       0.769843              7
3   0.3      True           7  ...             2       0.852028              4
4   0.3      True           9  ...             1       0.854259              3

[5 rows x 23 columns]

# Complement Naive Bayes.

### TFIDF Vectorizer.

### Only input features are the tokenized tweet text (no vader).

### Class imbalance not addressed.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/comp_bayes_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

comp_naive_bayes_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
comp_naive_bayes_df.head()

  alpha fit_prior  ... mean_precision rank_precision
0   0.8      True  ...       0.655916            101
1   0.8     False  ...       0.655916            101
2   0.8      True  ...       0.655916            101
3   0.8      True  ...       0.655916            101
4   0.8     False  ...       0.655916            101

[5 rows x 21 columns]

# Complement Naive Bayes.

### TFIDF Vectorizer.

### Inputs include vader positive, negative and compound sentment scores.

### Class imbalance not addressed.

### Note: Same as above with the addition of vader scores features.

### Note: The compound sentiment score was shifted to fall between 0 - 2 (normally the compound score is between -1 and +1).

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/comp_bayes_v_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

comp_naive_bayes_v_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
comp_naive_bayes_v_df.head()

  alpha fit_prior  ... mean_precision rank_precision
0   0.8     False  ...        0.89118            111
1   0.8      True  ...        0.89118            111
2   0.8     False  ...        0.89118            111
3   0.8      True  ...        0.89118            111
4   0.8      True  ...        0.89118            111

[5 rows x 21 columns]

# Complement Naive Bayes.

### TFIDF Vectorizer.

### The only input features are the tokenized tweet text (no vader scores).

### Class imbalance addressed by random oversampling the minority class.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/comp_bayes_ros_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

comp_naive_bayes_ros_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
comp_naive_bayes_ros_df.head()

  alpha fit_prior  ... mean_precision rank_precision
0   0.8      True  ...       0.476008              1
1   0.8     False  ...       0.475476              2
2   0.8     False  ...       0.474760              3
3   0.8     False  ...       0.474327              4
4   0.8      True  ...       0.474254              5

[5 rows x 21 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs include vader positive, negative and compound sentment scores.

### Class imbalance not addressed.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_v_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_v_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
# Observations: 
#
# 1) All of the top five models used ngram_range = (1,2). (Could consider expanding flexibility further to allow for also (1,3)).
# 3) All of the top ranking models used the perceptron loss function and the 'word' analyzer type. (Can carry these forward as the only options and reduce future search spaces).
# 4) The optimal value for max_df (when a word should start getting ignored because it is too frequent) is still unclear.
# 5) The optimal value for min_df (when a word should start getting ignored because it does not occur frequent enough) is likely 1.
# 6) The optimal value for the stochiastic gradient decent regularization term (alpha) is also still unclear, but seems likely the default (0.0001) is not the best.

In [ ]:
SGD_clf_v_df.head()

    alpha        loss  ... mean_precision rank_precision
0  0.0001  perceptron  ...       0.759688            280
1   0.001  perceptron  ...       0.780095            266
2  0.0001  perceptron  ...       0.747896            293
3   0.001  perceptron  ...       0.748016            292
4   0.001  perceptron  ...       0.731564            314

[5 rows x 21 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs include vader positive, negative and compound sentment scores.
 
### Class imbalance addressed using random over sampling.

### Note: Same as above with the addition of random oversampling on the minority class.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_ros_v_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_ros_v_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
SGD_clf_ros_v_df.head()
#
# Observations:
# 1) Adding the random oversampler significantly increased the mean f1_score (our metric of interest).
#

    alpha        loss  ... mean_precision rank_precision
0  0.0001  perceptron  ...       0.728090             13
1  0.0001  perceptron  ...       0.720537             17
2  0.0005  perceptron  ...       0.751482              6
3  0.0001  perceptron  ...       0.757619              4
4  0.0001  perceptron  ...       0.766239              3

[5 rows x 22 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs are only the text. (No vader scores).

### Class imbalance addressed using random over sampling.

### Note: Same as the search above with vader scores removed as features.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_ros_nv_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_ros_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
SGD_clf_ros_df.head()
#
# Observations:
# 1) The model performs better when not using the vader sentiment scores at inputs, will discontinue using these on future models.
#

    alpha        loss  ... mean_precision rank_precision
0  0.0001  perceptron  ...       0.793966              2
1  0.0001  perceptron  ...       0.769633              8
2  0.0005  perceptron  ...       0.794627              1
3  0.0005  perceptron  ...       0.792379              3
4  0.0001  perceptron  ...       0.762175             12

[5 rows x 22 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs are only the text. (No vader scores).

### Class imbalance addressed using random over sampling.

### Note: Tuned version of above.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_ros_nv_gs2.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_ros2_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
SGD_clf_ros2_df.head()

    alpha        loss  ... mean_precision rank_precision
0  0.0002  perceptron  ...       0.732330             15
1  0.0002  perceptron  ...       0.757670              5
2  0.0002  perceptron  ...       0.774706              2
3  0.0002  perceptron  ...       0.753416              7
4  0.0001  perceptron  ...       0.749582              9

[5 rows x 22 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs are only the text. (No vader scores).

### Class imbalance addressed using SMOTE.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_smote_nv_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_smote_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
SGD_clf_smote_df.head()

    alpha        loss  ... mean_precision rank_precision
0  0.0002  perceptron  ...       0.737107              2
1  0.0001  perceptron  ...       0.742526              1
2  0.0002  perceptron  ...       0.727943              4
3  0.0001  perceptron  ...       0.711893             13
4  0.0002  perceptron  ...       0.724302              6

[5 rows x 23 columns]

# SGD Classifier

### TFIDF Vectorizer

### Inputs are only the text. (No vader scores).

### Class imbalance addressed using ADASYN.

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/SGD_adasyn_nv_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

SGD_clf_adasyn_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
SGD_clf_adasyn_df.head()

    alpha        loss  ... mean_precision rank_precision
0  0.0002  perceptron  ...       0.724241              3
1  0.0001  perceptron  ...       0.739726              1
2  0.0001  perceptron  ...       0.709849              6
3  0.0002  perceptron  ...       0.710456              5
4  0.0001  perceptron  ...       0.708883              7

[5 rows x 23 columns]

# Gradient Boosted Forest

### TFIDF Vectorizer

### No VADER scores

### No oversampling

In [ ]:
full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/bf_gs1.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_df.head()

  colsample_bytree learning_rate  ... mean_precision rank_precision
0              0.8          0.05  ...       0.770337           1129
1              0.8          0.05  ...       0.770337           1129
2              0.8          0.05  ...       0.770337           1129
3              0.8          0.05  ...       0.770337           1129
4                1          0.05  ...       0.769316           1137

[5 rows x 24 columns]

# Gradient Boosted Forest

### TFIDF Vectorizer

### No VADER scores

### Random Over Sampler

In [ ]:

full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/bf_ros_gs1.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_ros_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_ros_df.head()

  colsample_bytree learning_rate  ... mean_precision rank_precision
0              0.8          0.06  ...       0.681052             35
1              0.8          0.04  ...       0.663737            115
2             0.75          0.06  ...       0.677253             56
3             0.75          0.04  ...       0.685365              9
4             0.85          0.05  ...       0.665698            106

[5 rows x 25 columns]

# Extra Random Forest

In [ ]:
full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/erf_gs1.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

extra_random_forest_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

extra_random_forest_df.head()

   class_weight max_depth  ... mean_precision rank_precision
0  {0: 1, 1: 5}         9  ...            1.0              1
1  {0: 1, 1: 5}         9  ...            1.0              1
2  {0: 1, 1: 5}         9  ...            1.0              1
3  {0: 1, 1: 5}         9  ...            1.0              1
4  {0: 1, 1: 5}         9  ...            1.0              1

[5 rows x 24 columns]

# Logistic Regression

In [ ]:
# Initial logistic regression models

full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/lr_gs1.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

lr_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

lr_df.head()

         C  class_weight  ... mean_precision rank_precision
0      100  {0: 1, 1: 5}  ...       0.803116            570
1      100  {0: 1, 1: 5}  ...       0.803116            570
2  68.1292  {0: 1, 1: 5}  ...       0.802802            573
3  68.1292  {0: 1, 1: 5}  ...       0.802802            573
4  46.4159  {0: 1, 1: 5}  ...       0.800283            579

[5 rows x 24 columns]

# Logistic Regression

## Random Over Sampler

In [ ]:
# with random over sampling

full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/lr_ros_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

lr_ros_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

lr_ros_df.head()

         C class_weight  ... mean_precision rank_precision
0      100         None  ...       0.806942              1
1  21.5443         None  ...       0.785186             16
2       10         None  ...       0.776176             28
3  68.1292         None  ...       0.802979              3
4  68.1292         None  ...       0.794874              8

[5 rows x 25 columns]

## Logistic Regression

## Over sampling with SMOTE

In [ ]:
full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/lr_smote_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

lr_smote_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

lr_smote_df.head()

         C  class_weight  ... mean_precision rank_precision
0  68.1292  {0: 1, 1: 2}  ...       0.742808            234
1  21.5443  {0: 1, 1: 2}  ...       0.732947            278
2  68.1292  {0: 1, 1: 2}  ...       0.744244            222
3  68.1292  {0: 1, 1: 5}  ...       0.739394            241
4  68.1292  {0: 1, 1: 5}  ...       0.737779            249

[5 rows x 26 columns]

# Multilayer Perceptron

did not converge, needs further investigation. Adaptive learning rate may have had a initial value too low, or adaptive learning just may not be a good choice for this data set.

In [ ]:
# MLP with adapative learning rate. 
# No predicted samples. This ran for 24 hours, I wonder if SGD didn't converge? stuck in a local minima? 
# adaptive learning only decreases learning 

full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/mlp_gs1.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

mlp_adaptive_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
mlp_adaptive_df.head()

  activation   alpha  ... mean_precision rank_precision
0       relu  0.0001  ...            0.0              1
1       relu  0.0001  ...            0.0              1
2       relu  0.0005  ...            0.0              1
3       relu  0.0005  ...            0.0              1

[4 rows x 25 columns]

## Multilayer Perceptron

In [ ]:
# MLP with constant learning rate

full_path = '/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch/mlp_gs1_sm.pkl'
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

mlp_constant_learning_rate_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

In [ ]:
mlp_constant_learning_rate_df.head()

  activation   alpha  ... mean_precision rank_precision
0       relu  0.0005  ...       0.844406              3
1       relu  0.0005  ...       0.836662              4
2       relu  0.0001  ...       0.863533              2
3       relu  0.0001  ...       0.866192              1

[4 rows x 22 columns]