<a href="https://colab.research.google.com/github/BradenAnderson/Twitter-Sentiment-Analysis/blob/main/07_fastText_TFIDF_Modeling_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook displays the gridsearch results for all of the models in the 07 series.

- 07 series models all utilize fastText word vectors and the custom TFIDF embedding vectorizer class to create the document vector that is used as the supervised learning model input.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import dill as pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score, GridSearchCV, RandomizedSearchCV, train_test_split, cross_validate, cross_val_predict
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer, CountVectorizer
from sklearn.compose import ColumnTransformer

from sklearn.metrics import precision_score, recall_score, accuracy_score, SCORERS, multilabel_confusion_matrix, make_scorer, roc_curve, roc_auc_score, f1_score

pd.set_option('display.max_rows', 1000)

In [3]:
# This is a helper function that stream lines the process of converting a gridsearch output to a pandas dataframe with the 
# columns formatted the way I like them. 
def gs_to_clean_df(search_results, keep_split = False, keep_std = False, keep_time = False, keep_params = False, sort_by=None):

  gs_results_df = pd.DataFrame(search_results)

  gs_result_columns = list(gs_results_df.columns)
  throw_away_columns = []
  columns_to_keep = []
  columns_renamed = []
  valid_metrics = []

  for column_name in gs_result_columns: 

    if column_name.startswith('split'):
      if keep_split == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif 'time' in column_name: 
      if keep_time == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif column_name.startswith('std'):
      if keep_std == True: 
        columns_to_keep.append(column_name)
      else: 
        throw_away_columns.append(column_name)
    elif column_name == 'params':
      if keep_params == True:
        columns_to_keep.append(column_name)
      else:
        throw_away_columns.append(column_name)
    else: 
      columns_to_keep.append(column_name)

  gs_results_df.drop(labels=throw_away_columns, axis='columns', inplace=True)
  renaming_dict = {}

  for column_name in columns_to_keep: 
    name = ""

    if column_name.startswith('param') and column_name != 'params': 
      name_components = column_name.split('__')

      name_components = name_components[1:]

      for component in name_components:
        name = name + '_' + component 
      name = name.lstrip('_')

    elif '_test' in column_name:
      name = column_name.replace('_test', '')

    renaming_dict[column_name] = name

    if name.startswith('rank') or name.startswith('mean'):
      valid_metrics.append(name)

  gs_results_df.rename(columns=renaming_dict, inplace=True)

  if sort_by in valid_metrics:
    gs_results_df.sort_values(by=sort_by, inplace=True, ignore_index=True)

  return gs_results_df

In [4]:
class TfidfEmbeddingVectorizer(object):

    def __init__(self, ft_wv):

        self.ft_wv = ft_wv
        self.word2weight = None

        if len(ft_wv) > 0:
            self.dim = ft_wv[next(iter(unique_words))].shape[0]
        else:
            self.dim=0
        
    def fit(self, X, y):

        tfidf = TfidfVectorizer(analyzer=lambda word : word)
        tfidf.fit(X)

        #-------------------------------------------------------------------------------------------------------------------------------------
        # The .idf_ attribute is a vector that contains the inverse document frequency values for each word in the vocabuary.
        #
        # The .vocabulary_ attribute is a list of tuples of the form (word, index) where index is the location in the .idf_ list 
        # where the inverse document frequency value for that word is stored.
        #
        # As the number of documents a particular word shows up in increases, its idf(t) (.idf_) value will decrease. 
        # idf(t) = log( (1+n) / (1 + df(t)) ) + 1, where n = number of documents (tweets) and df(t) = number of documents that contain word t. 
        # --------------------------------------------------------------------------------------------------------------------------------------
        
        # Save the maximum value in the list of inverse document frequencies. This corresponds to the word that shows up in the
        # least number of documents (tweets). This can be used as a default value to return if we ever try to find the inverse document frequency
        # for a word that was not in the training set (the assumption being made is that if a word was not in the training set, that it
        # is at least as uncommon as the most uncommon word in the training set). 
        max_idf = max(tfidf.idf_)

        # 1) Use the .idf_ list and the .vocabulary_ dictionary to create a new dictionary that maps each word to its idf value. 
        # 2) Since this is being created as a defaultdict, if we ever try to get the idf value using a word (key) that was not in the
        #    training set, this dictionary will return the default value (idf of the most uncommon word) rather than throw a key error.
        self.word2weight = defaultdict(lambda: max_idf,  [(word, tfidf.idf_[idf_index]) for word, idf_index in tfidf.vocabulary_.items()])
    
        return self
    
    def transform(self, X):

      # List to hold the average tfidf fast text vector for each tweet.
      mean_tfidf_vector_for_each_tweet = []

      # for every tweet in the training data.
      for clean_tweet_token_list in X: 

        # create a list to hold the tfidf fastText vectors for each word in this tweet.
        this_tweet_tfidf_vectors = []
          
        # For every word in the tweet.
        for word in clean_tweet_token_list: 
            
          # Initialize the fastText vector for this word to be the zero vector.
          fastText_vector = np.zeros(self.dim)

          # Check if we have a fastText word vector for this word, if we do, update fasText_vector to be the correct value.
          if word in self.ft_wv:
            fastText_vector = self.ft_wv[word]

          # Calculate the tfidf_vector as the words fastText vector multiplied by its idf weight.
          tfidf_vector = fastText_vector * self.word2weight[word] 

          # Add the tfidf_vector for this word to the list of tfidf_vectors for this tweet.
          this_tweet_tfidf_vectors.append(tfidf_vector)

        # To get a single vector that represents the entire tweet, take the mean of the tfidf vectors for all words in the tweet.
        mean_tfidf_vector = np.mean(this_tweet_tfidf_vectors, axis=0)
        
        # Add the mean tfidf vector for this tweet to the list of mean tfidf vectors for all tweets.
        mean_tfidf_vector_for_each_tweet.append(mean_tfidf_vector)

      return np.array(mean_tfidf_vector_for_each_tweet)

# Gradient Boosted Random Forest with fastText TFIDF vectors

In [5]:

full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_bf_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_ft_df.head()

  colsample_bytree learning_rate  ... mean_precision rank_precision
0              0.8          0.05  ...       0.834308             45
1              0.8          0.05  ...       0.834308             45
2              0.8          0.07  ...       0.834333             43
3              0.8          0.07  ...       0.834333             43
4              0.8          0.07  ...       0.843207             19

[5 rows x 19 columns]

In [13]:
full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_bf_ros_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_ros_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_ros_ft_df.head()

  colsample_bytree learning_rate  ... mean_precision rank_precision
0             0.75          0.05  ...       0.721653             17
1             0.75          0.05  ...       0.696010             59
2             0.75          0.05  ...       0.705625             36
3             0.85          0.05  ...       0.704672             38
4             0.85          0.06  ...       0.733638              3

[5 rows x 20 columns]

In [7]:
# Results did not improve from above, no need to continue tuning. 

full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_bf_ros2_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_ros2_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_ros2_ft_df.head()

  colsample_bytree learning_rate  ... mean_precision rank_precision
0             0.75          0.05  ...       0.732760             14
1              0.8          0.05  ...       0.741082              5
2             0.75          0.05  ...       0.725843             30
3              0.8          0.05  ...       0.745851              3
4              0.8          0.05  ...       0.748139              1

[5 rows x 20 columns]

# Extra Random Forest with fastText TFIDF vectors

In [8]:

full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_erf_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

boosted_forest_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

boosted_forest_ft_df.head()

   class_weight max_depth  ... mean_precision rank_precision
0  {0: 1, 1: 5}         9  ...       0.518104             62
1  {0: 1, 1: 5}         9  ...       0.515946             63
2  {0: 1, 1: 5}         9  ...       0.515586             68
3  {0: 1, 1: 5}         9  ...       0.515682             67
4  {0: 1, 1: 5}         9  ...       0.515257             69

[5 rows x 19 columns]

# Stochiastic Gradient Descent with fastText TFIDF vectors

In [9]:
full_path =  "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_sgd_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

sda_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

sda_ft_df.head()

    alpha  class_weight  ... mean_precision rank_precision
0  0.0001  {0: 1, 1: 5}  ...       0.459044             42
1   0.001  {0: 1, 1: 5}  ...       0.463562             38
2  0.0001  {0: 1, 1: 5}  ...       0.461445             39
3   0.005  {0: 1, 1: 5}  ...       0.461352             40
4   0.005  {0: 1, 1: 5}  ...       0.460707             41

[5 rows x 19 columns]

# Multilayer Perceptron with fastText TFIDF vectors

In [10]:
full_path =  "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_mlp_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

mlp_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

mlp_ft_df.head(10)

  activation   alpha  ... mean_precision rank_precision
0   logistic  0.0005  ...       0.715318             11
1   logistic  0.0005  ...       0.701035             16
2       relu  0.0005  ...       0.657702             21
3   logistic  0.0001  ...       0.758490              5
4       relu  0.0005  ...       0.628814             23
5   logistic  0.0001  ...       0.738315              8
6   logistic  0.0005  ...       0.729165              9
7   logistic  0.0001  ...       0.713823             12
8       relu  0.0001  ...       0.687533             19
9       relu  0.0001  ...       0.675872             20

[10 rows x 19 columns]

In [11]:
full_path =  "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_mlp_ros_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

mlp_ros_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

mlp_ros_ft_df.head()

  activation   alpha  ... mean_precision rank_precision
0   logistic  0.0005  ...       0.592495              4
1   logistic  0.0004  ...       0.589897              6
2   logistic  0.0006  ...       0.586283             10
3   logistic  0.0006  ...       0.586899              9
4   logistic  0.0005  ...       0.570597             22

[5 rows x 18 columns]

# Logistic Regression

In [12]:
full_path = "/content/drive/MyDrive/Programming/Colab Notebooks/Coding_Dojo/Twitter_Sentiment_Project/pickle_gridsearch_ft/gs_lr_tfidf_ft.pkl"
with open(full_path, 'rb') as file:
  gs_results = pickle.load(file)

search_results = gs_results.cv_results_
top_estimator = gs_results.best_estimator_
top_score = gs_results.best_score_
top_parameters = gs_results.best_params_

lr_ft_df = gs_to_clean_df(search_results, sort_by='rank_f1_score')

lr_ft_df.head()

         C  class_weight  ... mean_precision rank_precision
0       10  {0: 1, 1: 5}  ...       0.464434             86
1  3.79269  {0: 1, 1: 5}  ...       0.463902             91
2   7.8476  {0: 1, 1: 5}  ...       0.464129             90
3       10  {0: 1, 1: 5}  ...       0.463900             92
4   7.8476  {0: 1, 1: 5}  ...       0.463217             97

[5 rows x 19 columns]